<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compaible" content="ie=edge">
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap" rel="stylesheet">
    <style>
        div{
            font-family: 'Montserrat', sans-serif;
            font-weight: extra-bold;
        }
        
    </style>
    <script src="https://unpkg.com/vue"></script>
    <title>Document</title>
</head>
<body>

    <div id="app">
        <!-- app -->
        <h1>{{title}}</h1>
        <button @click = "getContent">Show/Hide Content</button>
        <div v-if="showContent">
            <p>Users</p>
            <ul>
                <li v-for="(user, index) in users" :key="index">
                    <p>{{user.name}} - {{user.age}}</p>
                    <span>{{user.email}}</span>
                </li>
            </ul>
        </div>
        
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                title: 'DATA',
                showContent: false,
                // user: {
                //     name: 'Mark',
                //     email: 'lunatique@polytech.kz'
                // }
                users:[
                    {name: 'Mark', email: 'lunatique@polytech.kz', age: 17},
                    {name: 'Felix', email: 'xqcOW@gmail.com', age: 24},
                    {name: 'Adept', email: 'Adept@gmail.com', age: 42},
                ],
            },
            

            methods: {
                getContent () {
                    this.showContent = !this.showContent
                    
                }
            }
        })
    </script>

</body>
</html>